[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "==2.0.3"
python-dotenv = "*"
djangorestframework = "*"
pipfile = "*"

[dev-packages]
