.button-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.container-margin-left {
            margin-left: 50px;
        }
        .sidebar {
            background-color: #f8f9fa;
            height: 100vh;
            padding-top: 20px;
            position: fixed;
            width: 270px;

        }
        .sidebar a {
            color: #333;
            font-size: 1rem;
            padding: 10px;
            text-decoration: none;
            display: block;
            border-radius: 5px;
        }
        .sidebar a:hover {
            background-color: #e2e6ea;
        }
        .sidebar .menu-title {
            color: #6c757d;
            font-weight: bold;
        }
        header {
            background-color: #f8f9fa;
            padding: 10px 20px;
            border-bottom: 1px solid #dee2e6;
        }
        header .logo {
            display: flex;
            align-items: center;
        }
        header .logo h1 {
            font-size: 1.25rem;
            font-weight: bold;
            margin: 0;
        }
        header .logo p {
            font-size: 0.9rem;
            color: #6c757d;
            margin: 0;
        }
        header .contact-info {
            display: flex;
            align-items: center;
        }
        header .contact-info .info-item {
            display: flex;
            align-items: center;
            padding: 0 15px;
            border-left: 1px solid #dee2e6;
        }
        header .contact-info .info-item:first-child {
            border-left: none;
        }
        header .contact-info .info-item p {
            margin: 0;
            padding-left: 5px;
            font-size: 1rem;
            color: #dc3545;
            font-weight: bold;
        }
        header .user-info {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        header .user-info p {
            margin: 0;
            font-size: 1rem;
        }
        header .user-info box-icon {
            color: #6c757d;
        }