{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Ближайшие записи</h1>
</div>


<div class="container mt-5">
    <h1 class="text-center mb-4">Запись на прием к врачу</h1>

<form action="/api/v1/records/" method="POST" id="record-form">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name_records" class="form-label">По какому поводу записываетесь</label>
        <input type="text" class="form-control" id="name_records" name="name_records" value="">
    </div>

    <div class="mb-3">
        <label for="doctor-select" class="form-label">Выберите врача</label>
        <select class="form-select" id="doctor-select" name="doctor">
            <option value="" disabled selected>Выберите врача</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="record-date" class="form-label">Дата записи</label>
        <input type="date" class="form-control" id="record-date" name="date">
    </div>
    <div class="mb-3">
        <label for="record-time" class="form-label">Время записи</label>
        <input type="time" class="form-control" id="record-time" name="time">
    </div>

    <button type="submit" class="btn btn-primary w-100" id="submit-record" name="submit-record">Записаться</button>
</form>


</div>
{% endblock %}
